---
import Layout from "../layouts/layout.astro";
import EventTimeline from "../components/eventtimeline.astro";
import Eventtab from "../components/eventtab.astro";
import PopupEvent from "../components/popupevent.astro";
import Createevent from "../components/createevent.astro";
import Adminboard from "../components/adminboard.astro";
---

<Layout title="Dashboard">
  <PopupEvent>
    <section
      x-data="{
      roleeReady: false
    }"
      x-init="
      setTimeout(() => { roleeReady = true }, 80); // Attendre un peu avant d'afficher
    "
      x-show="roleeReady"
      x-cloak
      class="transition-all duration-300 max-w-3xl mx-auto"
    >
      <!-- Vérification de connexion -->
      <section
        x-cloak
        x-transition.opacity
        x-show="rolee !== undefined && rolee === 'visiteur'"
        :class="{ 'hidden': rolee !== 'visiteur'}"
      >
        <div
          class="flex flex-col items-center justify-center h-full text-center mt-40"
        >
          <h2 class="text-2xl font-heading text-heading">
            Vous n'êtes pas connecté
          </h2>
          <a
            href="connexion.html"
            class="mt-4 px-4 py-2 bg-red-700 text-white rounded hover:bg-red-800"
            >Connexion</a
          >
        </div>
      </section>

      <!-- Dashboard joueur+ -->
      <section
        x-cloak
        x-transition.opacity
        style="display:none"
        x-show="rolee !== undefined && rolee !== 'visiteur'"
        :class="{ 'hidden': rolee === 'visiteur'}"
      >
        <h1 class="text-5xl px-3 font-hero text-heading mb-6 my-14">
          Tableau de bord
        </h1>
        <h2 class="text-2xl font-semibold mt-20 mb-2 ml-4">
          Événements favoris
        </h2>
        <EventTimeline
          apiEndPoint="favorites"
          color="red-700"
          colorHover="red-800"
        />
      </section>

      <!-- Dashboard orga+ -->
      <section
        x-cloak
        x-transition.opacity
        x-show="rolee !== undefined && rolee === 'orga' || rolee === 'admin'"
        :class="{ 'hidden': rolee === 'visiteur' || rolee === 'joueur'}"
      >
        <Createevent />
        <h2 class="text-2xl font-semibold mt-20 mb-2 ml-4">Modifier mes créations</h2>
        <EventTimeline
          apiEndPoint="myevents"
          color="[#642b56]"
          colorHover="[#532447]"
        />
      </section>

      <!-- Dashboard admin-->
      <Adminboard />

      <!-- Section Statistiques (visible pour orga et admin ) -->
      <section
        x-cloak
        x-transition.opacity
        class="p-4"
        x-show="rolee !== undefined && rolee === 'orga'|| rolee === 'admin'"
        :class="{ 'hidden': rolee === 'joueur' || rolee === 'visiteur' }"
      >
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
          <div class="bg-[#4d2d45] shadow rounded-xl p-4 text-center">
            <h3 class="text-2xl font-bold">125</h3>
            <p class="text-lg">Événements créés</p>
          </div>
          <div class="bg-[#4d2d45] shadow rounded-xl p-4 text-center">
            <h3 class="text-2xl font-bold">350</h3>
            <p class="text-lg">Participants</p>
          </div>
          <div class="bg-[#4d2d45] shadow rounded-xl p-4 text-center">
            <h3 class="text-2xl font-bold">24</h3>
            <p class="text-lg">Événements en attente</p>
          </div>
        </div>
      </section>

      <!-- Section tableau des événements (visible pour joueur, orga et admin ) -->
      <section
        x-cloak
        x-transition.opacity
        class="p-4"
        x-show="rolee !== undefined && rolee === 'orga'|| rolee === 'admin' || rolee === 'joueur'"
        :class="{ 'hidden': rolee === 'visiteur' }"
      >
        
        
      </section>
      <h2 class="text-2xl font-semibold mb-2 ml-2">Tout les événements</h2>
    </section>
    <Eventtab />
  </PopupEvent>
  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>
</Layout>
