---
import Layout from "../layouts/layout.astro";
import Eventtab from "../components/eventtab.astro";
import PopupEvent from "../components/popupevent.astro";
---

<Layout title="Événements">
  
  <!-- Tableau affichant tout les événements -->
  <PopupEvent>
    <div class="mt-12">
      <Eventtab />
    </div>
  </PopupEvent>

</Layout>