---
import Layout from "../layouts/layout.astro";
import HeroSlide from "../components/heroslide.astro"
---

<Layout title="Esportify">
    <HeroSlide />
  <div x-data="{ open: false }">
    <button @click="open = !open">Toggle</button>
    <div x-show="open">Contenu visible seulement quand "open" est true.</div>
  </div>
</Layout>
