---
import Layout from "../layouts/layout.astro";
import HeroSlide from "../components/heroslide.astro";
import EventTimeline from "../components/eventtimeline.astro";

const apiUrl = import.meta.env.VITE_API_URL || 'https://esportify-backend.onrender.com'; 

console.log(apiUrl);  // Affiche l'URL de l'API
---

<Layout title="Esportify">
  <HeroSlide />
  <div class="text-center mt-6 mx-auto max-w-[900px]">
    <h1 class="text-3xl">Joueurs, rassemblez-vous !</h1>
    <p class="my-3 mx-3 text-lg">
      Plongez au cœur de l'action e-sport avec <strong>Esportify</strong>, votre
      plateforme de référence pour suivre en temps réel les événements qui font
      vibrer la communauté. Conçue pour offrir une expérience immersive et
      connectée. Avec <strong>Esportify</strong>, suivez vos événements favoris,
      créez les vôtres et accédez à un chat en direct pendant les événements
      pour partager votre passion.
    </p>
  </div>
  <section class="my-12">
    <EventTimeline {apiUrl}/>
  </section>
</Layout>
