---
import Layout from "../layouts/layout.astro";
import HeroSlide from "../components/heroslide.astro";
import EventTimeline from "../components/eventtimeline.astro";
---

<Layout title="Esportify">
  <HeroSlide />
  <div class="text-center mt-6 mx-auto max-w-[900px]">
    <h1 class="text-3xl text-heading font-hero">Joueurs, rassemblez-vous !</h1>
    <p class="my-3 mx-3 text-lg">
      Plongez au cœur de l'action e-sport avec <strong>Esportify</strong>, votre
      plateforme de référence pour suivre en temps réel les événements qui font
      vibrer la communauté. Conçue pour offrir une expérience immersive et
      connectée. Avec <strong>Esportify</strong>, suivez vos événements favoris,
      créez les vôtres et accédez à un chat en direct pendant les événements
      pour partager votre passion.
    </p>
  </div>
  <EventTimeline />
</Layout>
