---
import Layout from "../layouts/layout.astro";
---

<Layout title="Inscription">
    <div x-data="{ 
        username:'',
        email: '', 
        password: '', 
        error: '', 
        async register() { 
            try {
                const response = await fetch('https://esportify-backend.onrender.com/api/register', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username: this.username, email: this.email, password: this.password })
                });
                const data = await response.json();
                if (response.ok) {
                    alert('Inscription réussie !');
                    window.location.href = './connexion.html'; // Redirection
                } else {
                    this.error = data.error || 'Erreur inconnue';
                }
            } catch (err) {
                this.error = 'Impossible de se connecter au serveur.';
            }
        }
    }">
        <form class="max-w-md w-full p-4 mx-auto md:mt-40 mt-20 flex flex-col justify-center items-center" @submit.prevent="register">
            <h1 class="my-3 text-heading text-lg font-heading">Inscription</h1>
            <input 
                type="text" 
                x-model="username" 
                placeholder="Nom d'utilisateur" 
                class="border p-2 rounded mb-2 w-full bg-[#161215]"
                autofocus
                required 
            />
            <input 
                type="email" 
                x-model="email" 
                placeholder="Email" 
                class="border p-2 rounded mb-2 w-full bg-[#161215]" 
                required 
            />
            <input 
                type="password" 
                x-model="password" 
                placeholder="Mot de passe" 
                class="border p-2 rounded mb-2 w-full bg-[#161215]" 
                required 
            />
            <button type="submit" class="bg-red-700 hover:bg-red-800 px-4 py-2 rounded">
                S'inscrire
            </button>
            <div x-show="error" class="text-red-500 mt-2" x-text="error"></div>
        </form>
    </div>     
</Layout>