---
import { apiUrl } from "../lib/constants";
---

<!-- Tableau affichant tout les événements -->
<section class="mb-12">
  <!-- Boutons de tri -->
  <div class="flex flex-col items-center space-y-4">
    <div class="flex gap-3 my-2">
      <button
        hx-get={`${apiUrl}/api/events?sort=players_count`}
        hx-target="#events-container-tab"
        hx-swap="innerHTML"
        hx-on-error="this.innerHTML = 'Erreur lors du tri des événements';"
        class="px-2 py-1 bg-red-700 rounded hover:bg-red-800"
      >
        <p class="text-sm">Trier par joueurs</p>
      </button>
      <button
        hx-get={`${apiUrl}/api/events?sort=start_datetime`}
        hx-target="#events-container-tab"
        hx-swap="innerHTML"
        hx-on-error="this.innerHTML = 'Erreur lors du tri des événements';"
        class="px-2 py-1 bg-red-700 rounded hover:bg-red-800"
      >
        <p class="text-sm">Trier par date</p>
      </button>
      <button
        hx-get={`${apiUrl}/api/events?sort=organisateur`}
        hx-target="#events-container-tab"
        hx-swap="innerHTML"
        hx-on-error="this.innerHTML = 'Erreur lors du tri des événements';"
        class="px-2 py-1 bg-red-700 rounded hover:bg-red-800"
      >
        <p class="text-sm">Trier par organisateur</p>
      </button>
    </div>
  </div>

  <!-- Conteneur des événements -->
  <div class="flex justify-center flex-1">
    <div class="w-full max-w-7xl p-6">
      <div
        id="events-container-tab"
        class="grid justify-items-center grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-6 p-6 bg-[#161215] rounded-lg"
      >
        <!-- Les événements seront chargés dynamiquement ici via HTMX -->
        <p class="flex text-center">
          Chargement des événements...<br />(Peut prendre jusqu'à 50s si le
          serveur est en veille)
        </p>
      </div>

      <!-- Bloc pour charger les événements -->
      <div
        hx-get={`${apiUrl}/api/events`}
        hx-target="#events-container-tab"
        hx-trigger="refresh from:body, load"
        hx-swap="innerHTML"
        hx-on-error="this.innerHTML = 'Erreur lors du chargement des événements';"
      >
        <!-- Requête GET déclenchée au chargement -->
      </div>
    </div>
  </div>

</section>
