---
import { apiUrl } from "../lib/constants";
---

<div class="flex justify-center">
  <div class="w-full max-w-4xl overflow-x-auto rounded-lg shadow-lg p-4">
    <!-- Bande horizontale des événements -->
    <div id="events-container" class="flex space-x-4">
      <!-- Les événements seront chargés dynamiquement ici via HTMX -->
    </div>

    <!-- Bloc pour charger les événements -->
    <div
      class="p-4 rounded-lg w-full text-center"
      hx-get={`${apiUrl}/api/events`}
      hx-target="#events-container"
      hx-trigger="load"
      hx-swap="beforeend"
      hx-on-error="this.innerHTML = 'Erreur lors du chargement des événements';"
    >
      <p>Chargement des événements...</p>
    <!-- 
    Fait une requête GET à l'URL spécifiée, 
    Spécifie où insérer la réponse (id= "events-container"),
    Déclenche la requête automatiquement lors du chargement de la page, 
    Insère le contenu récupéré à la fin de l'élément cible 
    -->
    </div>
  </div>
</div>
