---
interface Props { // Définit une interface TypeScript pour les propriétés du composant.
  title: string; //  Spécifie que la propriété title doit être une chaîne de caractères.
}

const { title } = Astro.props; // Extrait 'title' définit lors de l'utilisation du composant.
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" /> <!-- Encodage des caractères pour le document -->
    <meta name="description" content="Esportify" /> <!-- Fournit une description du site pour les moteurs de recherche -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- adapte la largeur de la page à celle de l'écran, force le zoom initial à 100% -->
    <style>
      /* Styles globaux, initialisation supplémentaire à l'initialisation faite par tailwind */
      body {
        background: linear-gradient(to bottom, #1F191D, #121012);
        @apply text-text font-body;
      }
    </style>
    <link rel="icon" type="image/png" href="logoesportify.png" />
    <meta name="generator" content={Astro.generator} /> <!-- Indique le générateur du site (Astro) -->
    <title>{title}</title> <!-- Définit le titre de la page par une valeur à lui donner quand on utilise ce composant (Props)-->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js"></script> <!-- Charge Alpine.js pour l'interactivité JavaScript -->
    <script defer src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script> <!-- Charge htmx pour les interactions côté serveur -->
    <meta name="htmx-config" content='{"selfRequestsOnly":false}'> <!-- Configure htmx pour autoriser les requêtes vers des domaines externes -->
  </head>
  <body>
    <slot /> <!-- Zone HTML à l'intérieur du composant, où le contenu spécifique de chaque page sera inséré -->
  </body>
</html>
